.root{
	-fx-background-color: #EEEEEE;
}

.button {
	-fx-background-color: #00ADB5;
	-fx-border: 0px;
	-fx-padding: 10px 20px;
	-fx-border-insets: 0px 15px;
	-fx-background-insets: 0px 15px;
	-fx-background-radius: 4px;
	-fx-text-decoration: none;
	-fx-font-size: 16px;
	-fx-cursor: pointer;
	-fx-text-align: center;
	-fx-margin: 0px 2px;
	-fx-text-fill: white;
	-fx-fill: white;
}

.controls{
	-fx-background-color: #CCCCCC;
	-fx-background-radius: 4px;
}

.control{
	-fx-padding: 10px 20px;
	-fx-border-insets: 0px 15px;
	-fx-background-insets: 0px 15px;
}

.time {
	-fx-padding: 0 0 0 6px;
	-fx-border-insets: 0px 15px;
	-fx-background-insets: 0px 15px;
}